@model IEnumerable<HakkaFood.Models.HakkaFoodJsonModel>

@{
    ViewBag.Title = "取得API資料";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>取得API資料</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div id="App">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.kind)</th>
                <th>@Html.DisplayNameFor(model => model.classification)</th>
                <th>@Html.DisplayNameFor(model => model.dishes_name)</th>
                <th>@Html.DisplayNameFor(model => model.creative)</th>
                <th>@Html.DisplayNameFor(model => model.specialty_dishes)</th>
                <th>@Html.DisplayNameFor(model => model.Practic)</th>
                <th>@Html.DisplayNameFor(model => model.Url)</th>
            </tr>
        </thead>
        <tbody v-for="item in itemlist">
            <tr>
                <td>{{item.kind}}</td>
                <td>{{item.classification}}</td>
                <td>{{item.dishes_name}}</td>
                <td>{{item.creative}}</td>
                <td>{{item.specialty_dishes}}</td>
                <td>{{item.Practic}}</td>
                <td>{{item.Url}}</td>
                <td>
                    <button type="button" class="btn text-white bg_3 mr-2" @@click="InsertData(item.dishes_name)" >加到資料庫</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>

<script src="~/Scripts/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
        const vm = new Vue
        ({
            el: '#App',
            data: {
                itemlist:[]
            },
            methods: {
                GetInfo: function() {
                    axios.get('@Url.Action("GetInfo")').then(
                        res => {
                            this.itemlist = res.data;
                            console.log(this.itemlist);
                        }
                    )
                },
                InsertData: function(id) {
                    axios.post('@Url.Action("InsertData")', { "id": id}).then((response) => {
                        Swal.fire(response.data)
                    });
                },
            },
            mounted: function() {
                this.GetInfo();
            }

        });
</script>
