@model IEnumerable<HakkaFood.Models.HakkaFoodJsonModel>

@{
    ViewBag.Title = "取得API資料";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>取得API資料</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<div id="App">
    <table class="table">
        <thead>
            <tr>
                <th>
                    類別
                </th>
                <th>
                    分類
                </th>
                <th>
                    菜色名稱
                </th>
                <th>
                    創作者
                </th>
                <th>
                    菜餚特色
                </th>
                <th>
                    作法
                </th>
                <th>
                    網址
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.kind)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.classification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dishes_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creative)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.specialty_dishes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Practic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.ActionLink("加入資料庫", "InsertData", new {id = item.dishes_name}) |
                </td>
            </tr>
        }
        </tbody>
    </table>
   
</div>
