@model IEnumerable<HakkaFood.Models.HakkaFoodData>

@{
    ViewBag.Title = "資料庫資料";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>資料庫資料</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            類別
        </th>
        <th>
            分類
        </th>
        <th>
            菜色名稱
        </th>
        <th>
            創作者
        </th>
        <th>
            菜餚特色
        </th>
        <th>
            作法
        </th>
        <th>
            網址
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kind)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creative)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialtyDishes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Practic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new {  id=item.HakkaFoodId  }) |
                @Html.Action("Home", "Delete", new { id = item.HakkaFoodId })*@
            </td>
        </tr>
    }

</table>
